Applications/NodeRed_example/decode_payload
[{"id":"4a735611.8e2af8","type":"orbiwise","z":"b4cd9bf9.8bce98","app":"745f3975.e18218","name":"Orbiwise websocket","x":137,"y":125,"wires":[["b7282a5a.08d748","b6577686.bc6dc8"]]},{"id":"b7282a5a.08d748","type":"debug","z":"b4cd9bf9.8bce98","name":"debug","active":false,"console":"false","complete":"payloads_ul","x":356,"y":198,"wires":[]},{"id":"34c34b8e.b891d4","type":"base64","z":"b4cd9bf9.8bce98","name":"","x":536,"y":97,"wires":[["22dee43b.c0976c"]]},{"id":"b6577686.bc6dc8","type":"function","z":"b4cd9bf9.8bce98","name":"Get Data","func":"if(msg.payloads_ul){\n    \n    return{\n        payload: msg.payloads_ul.dataFrame\n    }\n    \n}","outputs":"1","noerr":0,"x":362,"y":86,"wires":[["34c34b8e.b891d4"]]},{"id":"22dee43b.c0976c","type":"debug","z":"b4cd9bf9.8bce98","name":"","active":true,"console":"false","complete":"false","x":644,"y":178,"wires":[]},{"id":"745f3975.e18218","type":"orbiwise app","z":"b4cd9bf9.8bce98","username":"bengchet@cytron.com.my","password":"cytronbc123","broker":"guestnet-malaysia.orbiwise.com"}]
